 <div class="jumbotron">
 	<p> The link /go/<%= @link.random_string %>  will redirect you to</p>
 	<p><h3><%= @link.url %></h3>

 	<p>You have used this provided link <%= @link.times_visited %>times</p>
 </div>
