<div class="jumbotron">

  <div class="container">
  	<div class="row">

   Your code is: <h4><%= @link.random_string %></h4><br/>
   Go to <h4>localhost:3000/go/<%= @link.random_string %></h4> to visit your URL

 <br>
 <div>
 	<div class="container">
 	<div class="btn btn-danger btn-md ">
<a href='/links/<%= @link.id %>/preview' class="preview">Preview the content of the link</a>
</div>
<div class="container">

</div>
</div>
</div>
</div>

 
