<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
   

   
    <a class="navbar-brand" href="/">Home</a>


   <a class="navbar-brand" href="./links/show">Show all my previous urls</a>
    <a class="navbar-brand" href="">Get a url</a>
  </div>

    
 

</nav>

